<a href="https://colab.research.google.com/github/2303a510g5/B15_PDS_10g5/blob/main/ass_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
student_data={
    'Student_Id':[101,102,103,104,105],
    'Name':['Ravi','Neha','kiran','Sita','Ram'],
    'M1':[85,90,78,92,90],
    'M2':[90,60,90,98,99],
    'M3':[97,96,95,94,93],
    }
df=pd.DataFrame(student_data)
df['Total_Marks'] = df['M1'] + df['M2'] + df['M3']
#print(df)
df['Average_Marks'] = df[['M1', 'M2', 'M3']].mean(axis=1)
#print(df)
df['Result'] = ['Pass' if all([df['M1'][i]>=40, df['M2'][i]>=40, df['M3'][i]>=40]) else 'Fail'
                for i in range(len(df))]
print(df)

   Student_Id   Name  M1  M2  M3  Total_Marks  Average_Marks Result
0         101   Ravi  85  90  97          272      90.666667   Pass
1         102   Neha  90  60  96          246      82.000000   Pass
2         103  kiran  78  90  95          263      87.666667   Pass
3         104   Sita  92  98  94          284      94.666667   Pass
4         105    Ram  90  99  93          282      94.000000   Pass